<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8" />
       <meta http-equiv="X-UA-Compatible" content="IE=edge" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <title>Movie App</title>
       <link rel="stylesheet" href="res/bootstrap-5.0.0-beta2-dist/css/bootstrap.css" />
       <link rel="stylesheet" href="/stylsheet/style.css">
</head>

<body>
       <h1 class="text-capitalize text-center" id="header">search your movie here</h1>
       <form action="/result" method="get" class="justify-content-center d-flex">
              <input type="text" name="search" class="form-control w-25 text-capitalize "
                     placeholder="enter a movie name ">
              <button class="text-center btn btn-success text-capitalize ms-3">search movie</button>
       </form>
</body>

</html>